<!DOCTYPE html>
<html>
  <head>
    <title>Nhaphan</title>

    <meta name="google-signin-client_id" content="936823825836-7mqo8571ps8u2rq94qus1nj3u687k3id.apps.googleusercontent.com">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://ellekasai.github.io/twemoji-awesome/twemoji-awesome.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <%= yield %>
    </div>
   
  </body>
</html>
